---

import type { Post } from "@types";

export interface Props extends Post {}

const { postId, postSlug, title, tags, formatedDate } = Astro.props;
const href = `/post/${postId}-${postSlug}`;
const tagList = tags.slice(0, -1)
const lastTag = tags.at(-1);
---

<div class="entry">
	<a href={href}>{title}</a>
	<div class="entry-info">
		<span class="date">{formatedDate}</span>
		<span class="tags">
			{tagList.map(tag => <a href={`/tag/${tag}`}>{tag},</a>)}
			<a href={`/tag/${lastTag}`}>{lastTag}</a>
		</span>
	</div>
</div>
<style is:global>
	.entry {
		margin-bottom: 1rem;
		overflow-wrap: break-word;
		width: 100%;
		/* flex: 1; */
	}

	.entry:last-child {
		margin-bottom: unset;
	}

	.entry > a {
		/* display: block; */
		font-size: 1.2rem;
		line-height: 1.75rem;
		color: rgb(0, 108, 172);
		text-decoration: none;
	}

	.entry-info {
		margin-top: 0.1rem;
	}

	.entry-info > .date {
		color: #888;
		font-size: 0.9rem;
	}
	
	.entry-info > .tags {
		font-size: 0.8rem;
		display: inline-flex;
	}

	.entry-info .tags a:hover {
		text-underline-offset: 2px;
	}

</style>
